
.container-fluid {
  height: 80vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #e59c26;
}

.App-body {
  background-color: #161828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cat-card-body {
  background-color: #21263c;
  width: 90%;
}

.cat-fact-row {
  margin: 0px;
}

.cat-fact-scroll {
  max-height: 55vh;
  overflow-y: scroll;
}

.cat-card-text {
  text-align: left;
}

.btn-cat {
  color: #ec7577;
  border: solid 1px #ec7577;
}

.btn-cat.active,
.btn-cat:hover:not(.disabled):not([disabled]),
.btn-cat:active:not(.disabled):not([disabled]) {
    background-color: #ec7577;
    border: solid 1px #ec7577;
    color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
